/* style.css */
#map {
	    background: #052d35;
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100%;
}

.zoom-display {
    background: #052d35;
    color: white; /* Белый текст */
    padding: 5px 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
    font-size: 14px;
}
}